extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumb/_breadcrumb

block variables
	- pageName = 'Academics';

block page
	+rd-navbar
	+breadcrumb-section
	include ../components/section/_about-us
	include ../components/section/_call-to-action-vertical
	include ../components/section/_about-us-blocks
	include ../components/section/_call-to-action-vertical-image
	include ../components/section/_blog-3-col
	include ../components/footer/_footer-default
