// About us
section.section-md.bg-300.bg-layer.text-center
	.bg-layer-item.bg-white( style='bottom: 30%' )
	.container
		.text-block.text-block-1
			h5.text-primary Academic program
			h2 Our curriculum
			p.big Massa, et porttitor cras sed ultrices ullamcorper mauris semper iaculis. Ornare suscipit purus nulla pharetra velit, leo in. Amet nulla nunc vitae viverra pellentesque in eget. Mi ut sit ultrices sed.

		.row.no-gutters
			.col-4
				+img( 'image-10-390x390' )
			.col-4
				+img( 'image-11-390x390' )
			.col-4
				+img( 'image-12-390x390' )
