.row.row-30.justify-content-center
	.col-xs-9.col-sm-6.col-md-4
		+post({
			img: 'image-15-370x255',
			date: 'April 23, 2020',
			comments: '3 comment(s)',
			title: 'Liberal Arts Colleges Rankings'
		}).post-responsive.post-responsive-1
	.col-xs-9.col-sm-6.col-md-4
		+post({
			img: 'image-16-370x255',
			date: 'April 23, 2020',
			comments: '3 comment(s)',
			title: 'Studying in the United States'
		}).post-responsive.post-responsive-1

	.col-xs-9.col-sm-6.col-md-4
		+post({
			img: 'image-17-370x255',
			date: 'April 23, 2020',
			comments: '3 comment(s)',
			title: '5 Ways to Pay for Community College'
		}).post-responsive.post-responsive-1
