include ../person/_person

// Person side
section.section-md.bg-transparent.text-center
	.container
		.text-block.text-block-1( data-animate!={ class: 'fadeIn' } )
			h5.text-primary People Behind Our Success
			h2 Our Tutors
			p.big We employ highly experienced and qualified teachers who set the ground for all our programs and courses. They are aimed to help you achieve more on your path to success.

		.row.row-30.row-lg-60
			.col-xs-6.col-lg-4
				+person-side({
					img:       'person-01-135x135',
					title:     'Leslie Alexander',
					meta:      'Tutor',
					text:      'Leslie joined our team in 2010 as a marketing tutor.',
					social:    [ 'custom-font-facebook', 'custom-font-twitter', 'custom-font-linkedin' ]
				})( data-animate!={ class: 'fadeInUp' } )
			.col-xs-6.col-lg-4
				+person-side({
					img:       'person-02-135x135',
					title:     'Cameron Williamson',
					meta:      'Course assistant',
					text:      'Cameron helps Teachzy team with online programs.',
					social:    [ 'custom-font-facebook', 'custom-font-twitter', 'custom-font-linkedin' ]
				})( data-animate!={ class: 'fadeInUp', delay: '.15s' } )
			.col-xs-6.col-lg-4
				+person-side({
					img:       'person-03-135x135',
					title:     'Theresa Webb',
					meta:      'Lead tutor',
					text:      'Theresa is one of our best foreign language tutors.',
					social:    [ 'custom-font-facebook', 'custom-font-twitter', 'custom-font-linkedin' ]
				})( data-animate!={ class: 'fadeInUp', delay: '.3s' } )
			.col-xs-6.col-lg-4
				+person-side({
					img:       'person-04-135x135',
					title:     'Jacob Jones',
					meta:      'Program coordinator',
					text:      'Jacob coordinates most of our programs & courses.',
					social:    [ 'custom-font-facebook', 'custom-font-twitter', 'custom-font-linkedin' ]
				})( data-animate!={ class: 'fadeInUp' } )
			.col-xs-6.col-lg-4
				+person-side({
					img:       'person-05-135x135',
					title:     'Brooklyn Simmons',
					meta:      'Professor',
					text:      'Brooklyn is our leading management tutor.',
					social:    [ 'custom-font-facebook', 'custom-font-twitter', 'custom-font-linkedin' ]
				})( data-animate!={ class: 'fadeInUp', delay: '.15s' } )
			.col-xs-6.col-lg-4
				+person-side({
					img:       'person-06-135x135',
					title:     'Wade Warren',
					meta:      'Tutor',
					text:      'Wade is an author of Web Tehcnology programs.',
					social:    [ 'custom-font-facebook', 'custom-font-twitter', 'custom-font-linkedin' ]
				})( data-animate!={ class: 'fadeInUp', delay: '.3s' } )
