//- Countdown
	@param {object} data - countdown data object
	@param {string} data.to - end date
	@param {string} data.from - start date
mixin countdown-simple( data )
	// Countdown
	.countdown-simple( data-countdown!={ from: data.from, to: data.to } )&attributes( attributes )
		each item in [ 'days', 'hours', 'minutes', 'seconds' ]
			- var attrCounter = {}; attrCounter[ 'data-counter-'+ item ] = '';
			.countdown-block( class= 'countdown-block-' + item )
				.countdown-wrap
					.countdown-counter.h1&attributes( attrCounter ) 00
					.countdown-title= item
