.widget
	.widget-title.h5 Search
	.widget-body
		form.rd-form.rd-form-boxed.rd-form-boxed-1( action='search-results.html', method='GET', data-rd-search )
			.form-group
				input.form-control( type='text', placeholder='Enter a keyword', autocomplete='off', name='s' )
			button.rd-form-boxed-btn.custom-font-search
