include ../counter/_counter
include ../blurb/_blurb

// About us
section.section-md.bg-300.bg-image-wrap.text-center.text-md-left
	.bg-image-wrap-item.bg-image( style='background-image:url(images/image-05-876x650.jpg);' )
	.container
		.row
			.col-lg-7
				.pr-xxl-5
					h5.text-primary Our history
					h2 About our university
					p.big Teachzy offers a rigorous education grounded in shared values – respect, love of learning, integrity, courage and a commitment to pluralism. Students become lifelong learners who make lasting contributions to the world. Our three campuses unite approximately 1,375 students served by 350 faculty and staff, creating a diverse and inclusive community.
					p.big We mold students into thoughtful, disciplined, well-rounded adults by providing a multifaceted education.

