include ../person/_person

// Team member
section.section-md.bg-transparent
	.container
		h2 Jacob Jones
		h6.text-primary Program coordinator
		.row.row-30
			.col-md-6.col-xl-8.d-flex
				.image.image-responsive( style='background-image:url(images/image-22-770x450.jpg);' ).rounded
			.col-md-6.col-xl-4
				.box.box-info
					.box-title.h5 Profile details
					.box-list
						.box-list-item
							.box-list-term Position:
							.box-list-desc Online program & course coordinator
						.box-list-item
							.box-list-term Experience:
							.box-list-desc 8 years
						.box-list-item
							.box-list-term Phone:
							.box-list-desc: a.link.link-inherit( href='tel:#' ) 8-000-111-222-333
						.box-list-item
							.box-list-term E-mail:
							.box-list-desc: a.link.link-inherit( href='mailto:#' ) info@demolink.com
						.box-list-item
							.box-list-term Categories:
							.box-list-desc Staff 2, teacher
						.box-list-item
							.box-list-term Socials:
							.box-list-desc
								.social
									a.icon.social-icon.custom-font-facebook( href='#' )
									a.icon.social-icon.custom-font-twitter( href='#' )
									a.icon.social-icon.custom-font-linkedin( href='#' )

			.col-md-6.col-xl-8
				p.big.font-weight-bold.text-dark Pulvinar sit malesuada curabitur pellentesque laoreet integer eu malesuada vulputate. Cursus eu odio laoreet arcu. Placerat eget venenatis odio curabitur.
				p.big Sed dis ornare quis elit ut in. Quis est venenatis neque tellus. Nunc at at auctor sem enim imperdiet nisi. Tristique euismod ultricies platea at mi massa ultricies faucibus.
				p.big Ac malesuada odio proin sed. Eget id scelerisque enim libero, eros donec quam. Dui, tempus tempus mattis risus malesuada tellus donec consectetur. Libero ultrices mauris, proin condimentum. Lectus lectus elementum sed odio.