/**
 * Post
 */

@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";

// Post
.post {
	text-align: left;
}

.post-media {
	overflow: hidden;
	display: block;
	border-radius: $border-radius;
}

a.post-media {
	transition: $transition-base;

	&:hover {
		opacity: .8;
		box-shadow: $box-shadow;
	}
}

.post-img {
	width: 100%;
}


* + .post { margin-top: px-to-rem( 31px * $lg-multiplier ) }
* + .post-offset { margin-top: px-to-rem( 53px * $lg-multiplier ) }
h2 + .post-offset { margin-top: px-to-rem( 31px ) }
* + .post-meta { margin-top: px-to-rem( 29px * $xs-multiplier ) }
* + .post-title { margin-top: px-to-rem( 19px * $xs-multiplier ) }
* + .post-text { margin-top: px-to-rem( 16px * $xs-multiplier ) }

.post-meta-align {
	.post-meta {
		justify-content: space-between;
	}
}

.post-responsive {
	margin-left: auto;
	margin-right: auto;
}

.post-responsive-1 {
	max-width: 370px;
}

// Media
@include media-breakpoint-up( xs ) {
	.post-responsive {
		max-width: 100%;
	}
}

@include media-breakpoint-up( lg ) {
	* + .post { margin-top: px-to-rem( 31px * $lg-multiplier ) }
	* + .post-offset { margin-top: px-to-rem( 53px * $lg-multiplier ) }
	h2 + .post-offset { margin-top: px-to-rem( 31px * $lg-multiplier ) }
	* + .post-meta { margin-top: px-to-rem( 29px * $lg-multiplier ) }
	* + .post-title { margin-top: px-to-rem( 19px * $lg-multiplier ) }
	* + .post-text { margin-top: px-to-rem( 16px * $lg-multiplier ) }
}

@include media-breakpoint-up( xxl ) {
	* + .post { margin-top: px-to-rem( 31px ) }
	* + .post-offset { margin-top: px-to-rem( 53px ) }
	h2 + .post-offset { margin-top: px-to-rem( 31px ) }
	* + .post-meta { margin-top: px-to-rem( 29px ) }
	* + .post-title { margin-top: px-to-rem( 19px ) }
	* + .post-text { margin-top: px-to-rem( 16px ) }
}


// Layouts
@import "post-event";