.rd-navbar-fixed {
	height: 60px;

	.navbar-panel {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		height: 60px;
		box-shadow: $navbar-shadow;
		background: $primary;
	}

	.navbar-subpanel {
		position: fixed;
		top: 0;
		right: 5%;
		display: flex;
		align-items: center;
		height: 60px;
		margin: 0 -10px;
		padding: 0 10px;
	}

	.navbar-subpanel-item {
		padding: 0 10px;
	}

	.navbar-logo {
		position: fixed;
		top: 11px;
		left: 50%;
		transform: translateX( -50% );

		.navbar-logo-default,
		.navbar-logo-inverse {
			width: auto;
			height: auto;
			max-height: 40px;
		}
	}

	.navbar-navigation-banner {
		padding: 14px 0;
	}

	// Navbar switch
	.navbar-switch {
		position: fixed;
		top: 0;
		left: 2%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		font-size: px-to-rem( 35px );
		line-height: 1;
		border: none;
		background: none;
		color: $navbar-root-color;
		transition: .2s ease-in-out;

		&:hover,
		&.active {
			color: $navbar-root-hover;
		}
	}

	.navbar-action-button {
		margin: 0;
	}

	// Button
	.navbar-button {
		color: $navbar-root-color;

		&::before {
			pointer-events: none;
		}

		&:hover,
		&.active {
			color: $navbar-root-hover;
		}
	}

	// Search
	.navbar-search {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		transform: scaleX(.8);
		z-index: 2;
		display: flex;
		align-items: center;
		height: 60px;
		opacity: 0;
		pointer-events: none;
		background: $white;
		transition: .25s;
	}

	.navbar-search-container {
		flex: 1 1 870px;
		max-width: 870px;
		margin: 0 auto;
		padding: 0 15px;
	}

	.navbar-search-form {
		display: flex;
		align-items: center;
		margin: 0 -10px;
	}

	.navbar-search-input {
		flex-grow: 1;
		font-size: px-to-rem( 16px );
		color: $gray-900;
		margin: 0;
		padding: 0 10px;
		border: none;
		background: none;

		&::placeholder {
			color: $gray-900;
		}
	}

	.navbar-search-close,
	.navbar-search-btn {
		color: inherit;
		padding: 0 10px;

		&:hover {
			color: $primary;
		}
	}

	.navbar-search-results {
		position: fixed;
		top: 60px;
		left: 0;
		right: 0;
		transform: scaleY(0);
		transform-origin: center top;
		display: flex;
		justify-content: center;
		padding: 25px 0;
		opacity: 0;
		pointer-events: none;
		background: $white;
		transition: .15s;

		&.rd-search-show {
			transform: scaleY(1);
			opacity: 1;
			pointer-events: auto;
		}

		&.rd-search-loading {
			.search-results {
				opacity: .5;
				pointer-events: none;
			}
		}

		.search-results {
			flex: 1 1 870px;
			max-width: 870px;
			padding: 0 15px;
		}

		.search-list {
			list-style-type: none;
		}

		.search-list-item {
			padding: 25px 0;
			margin: 0;
			border-bottom: 1px solid $gray-300;

			&:first-child {
				border-top: 1px solid $gray-300;
			}
		}

		* + p {
			margin-top: 2px
		}

		* + .search-list,
		* + .search-list-item-all {
			margin-top: 25px;
		}
	}

	&.navbar-search-active {
		.navbar-search {
			transform: scaleX(1);
			opacity: 1;
			pointer-events: auto;
		}
	}

	// Navigation
	.navbar-navigation {
		position: fixed;
		top: 60px;
		bottom: 0;
		left: -310px;
		width: 300px;
		padding: 0;
		overflow-y: auto;
		overflow-x: hidden;
		font-size: 1.1rem;
		font-weight: 400;
		line-height: 1.2;
		transition: .4s;
		background: $navbar-background;
		box-shadow: $navbar-shadow;
	}

	.navbar-navigation-root-item,
	.navbar-navigation-megamenu,
	.navbar-navigation-dropdown {
		transition: .4s;
	}

	.navbar-navigation-megamenu,
	.navbar-navigation-dropdown {
		position: fixed;
		top: 60px;
		bottom: 0;
		left: -310px;
		width: 300px;
		z-index: 2;
		pointer-events: none;
		overflow-y: auto;
		overflow-x: hidden;
		background: $navbar-background;
	}

	.navbar-navigation,
	.navbar-navigation-megamenu,
	.navbar-navigation-dropdown {
		padding: 16px 0 30px;
		background: $gray-200;

		&.overlaid {
			background: $gray-400;
		}
	}

	.navbar-navigation-root-link,
	.navbar-navigation-megamenu-link,
	.navbar-navigation-dropdown-link {
		position: relative;
		transform: translateZ(0);
		display: block;
		padding: 14px 30px;
		border-radius: 4px;
		overflow: hidden;
		color: $navbar-color;
		transition: .2s;

		& + .rd-navbar-submenu-toggle {
			display: flex;
		}

		&:hover {
			color: $primary;
		}
	}

	.navbar-navigation-root-item,
	.navbar-navigation-megamenu-item,
	.navbar-navigation-dropdown-item {
		&.focus,
		&.active {
			> .navbar-navigation-root-link,
			> .navbar-navigation-megamenu-link,
			> .navbar-navigation-dropdown-link {
				color: $primary;
			}
		}
	}

	.navbar-navigation-back-btn {
		display: block;
		padding: 14px 30px;
		font-size: 1.3077rem;
		font-weight: 500;
		color: $primary;

		&::before {
			content: '\f104';
			font-family: 'FontAwesome';
			margin-right: 10px;
			vertical-align: bottom;
		}

		&:hover {
			cursor: pointer;
		}
	}

	.navbar-navigation-megamenu-heading {
		padding: 14px 30px;
		margin: 0;
		font-size: 1.1538rem;
		font-weight: 300;
		color: $navbar-color;
	}

	.navbar-navigation-item-disabled {
		opacity: .5;
		pointer-events: none;
	}

	.rd-navbar-submenu-toggle {
		position: absolute;
		top: 0;
		right: 9px;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		display: none;
		font-size: 1em;
		color: inherit;
		transition: .2s;

		&::before {
			content: '\f105';
			font-family: 'FontAwesome';
		}

		&:hover {
			&::before {
				color: $primary;
			}
		}
	}

	.rd-navbar-submenu {
		position: relative;

		&.focus,
		&.opened {
			> .navbar-navigation-megamenu,
			> .navbar-navigation-dropdown {
				left: 0;
				pointer-events: auto;
			}

			> .navbar-navigation-root-link,
			> .navbar-navigation-dropdown-link,
			> .navbar-navigation-megamenu-link {
				color: $white;

				&::before {
					padding: 100%;
					transition: padding .25s ease-in;
				}
			}
		}
	}

	&.active {
		.navbar-navigation {
			left: 0;
		}
	}
}
