include _navigation

mixin rd-navbar
	//RD Navbar
	header.section.rd-navbar-wrap( data-preset!={ title:'Navbar Default', category:'header', reload:true, id:'navbar-default' } )
		include _rd-navbar-content