extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumb/_breadcrumb

block variables
	- pageName = 'Tutors';

block page
	+rd-navbar
	+breadcrumb-section
	include ../components/section/_person-4-col-2
	include ../components/section/_testimonials
	include ../components/section/_person-side-2
	include ../components/footer/_footer-default
