// Base
.blurb-side {
	@include group( px-to-rem( 24px ), px-to-rem( 7px ) );

	.blurb-icon {
		font-size: px-to-rem( 75px * $xs-multiplier );
		color: inherit;
	}

	* + .blurb-title { margin-top: 2px }
}


// Media
@include media-breakpoint-up( md ) {
	.blurb-side {
		display: flex;
		text-align: left;
	}
}

@include media-breakpoint-up( lg ) {
	.blurb-side {
		.blurb-icon {
			font-size: px-to-rem( 75px * $lg-multiplier );
		}
	}
}

@include media-breakpoint-up( xxl ) {
	.blurb-side {
		.blurb-icon {
			font-size: px-to-rem( 75px );
		}
	}
}
