/**
 * RD Form
 */

@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";

// Form inline
.rd-form-inline {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	@include group( px-to-rem( 20px ), px-to-rem( 15px ) );

	.form-group {
		flex-grow: 1;
	}

	.btn {
		flex-shrink: 0;
		margin-top: 0
	}
}

// Form boxed
.rd-form-boxed {
	position: relative;

	.form-validation {
		right: auto;
		left: px-to-rem( 18px );
	}

	.rd-form-boxed-btn {
		position: absolute;
		top: 50%;
		right: 0;
		margin: 0;
		padding-top: px-to-rem( 5px );
		padding-bottom: px-to-rem( 5px );
		transform: translateY( -50% );
		transition: $transition-base;
		pointer-events: auto;

		&:hover {
			color: $primary;
		}
	}
}

.rd-form-boxed-1 {
	.form-control {
		padding-right: px-to-rem( 40px );
	}

	.rd-form-boxed-btn {
		right: px-to-rem( 17px );
		font-size: px-to-rem( 18px );
		color: $primary;
		transition: $transition-base;
		pointer-events: auto;

		&:hover {
			color: $dark;
		}
	}
}


// Spacing
p + .rd-form { margin-top: px-to-rem( 25px ); }
.row-20 + .rd-form-btn { margin-top: px-to-rem( 25px ) }

@include media-breakpoint-up( lg ) {
	.row-20 + .rd-form-btn { margin-top: px-to-rem( 30px ) }
}

@include media-breakpoint-up( xxl ) {
	.row-20 + .rd-form-btn { margin-top: px-to-rem( 40px ) }
}

