/**
 * Grid
 */

@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins/breakpoints";
@import "../bootstrap/scss/mixins/grid-framework";
@import "../bootstrap/scss/mixins/grid";
@import "../bootstrap/scss/grid";
@import "grid-spacing";

// Base
.row-15 {
	@include grid-spacing( 15px );
}

.row-20 {
	@include grid-spacing( px-to-rem( 20px ) );
}

.row-30 {
	@include grid-spacing( px-to-rem( 30px ) );
}


// Spacing
* + .row {
	margin-top: px-to-rem( 40px );
}

p + .row {
	margin-top: px-to-rem( 50px * $xs-multiplier );
}

h6 + .row {
	margin-top: px-to-rem( 26px * $xs-multiplier );
}

.text-block-1 + .row {
	margin-top: px-to-rem( 58px * $xs-multiplier );
}

// Modifying
.row-gutters-20 {
	margin-right: -10px;
	margin-left: -10px;

	> [ class*='col-' ] {
		padding-right: 10px;
		padding-left: 10px;
	}
}


// Media
@include media-breakpoint-up( lg ) {
	.row-lg-55 {
		@include grid-spacing( px-to-rem( 55px ) );
	}

	.row-lg-60 {
		@include grid-spacing( px-to-rem( 60px ) );
	}

	p + .row {
		margin-top: px-to-rem( 50px * $lg-multiplier );
	}

	h6 + .row {
		margin-top: px-to-rem( 26px * $lg-multiplier );
	}

	.text-block-1 + .row {
		margin-top: px-to-rem( 58px * $lg-multiplier );
	}
}

@include media-breakpoint-up( xxl ) {
	p + .row {
		margin-top: px-to-rem( 50px );
	}

	h6 + .row {
		margin-top: px-to-rem( 26px );
	}

	.text-block-1 + .row {
		margin-top: px-to-rem( 58px );
	}
}