//- Copyright
mixin rights
	// Copyright
	p.rights&attributes( attributes )
		span &copy; 2020&nbsp;
		span= logo.name
		span . All rights reserved.&nbsp;
		a.link.link-inherit( href='privacy-policy.html' ) Privacy Policy
