include ../rights/_rights

// Call to action
section.section-sm.bg-primary.context-dark.text-center
	.container
		.group-16.d-lg-flex.flex-wrap.justify-content-between.align-items-center
			h3 Prepare Your Application Letter for Admission
			a.btn.btn-primary( href='#' ) Apply

// Footer default
footer.section.footer
	.footer-top.bg-300
		.container
			.row.row-30
				.col-xs-6.col-md-3
					h5.footer-title Contacts
					ul.list.list-icons
						li.list-item
							.list-icon.custom-font-pin
							a.link.link-inherit( href='#' ) Brooklyn, NY 10036, 16-2 United States
						li.list-item
							.list-icon.custom-font-email
							a.link.link-inherit( href='mailto:#' ) info@demolink.org
						li.list-item
							.list-icon.custom-font-phone
							span
								span= 'Call Us: '
								a.link.link-inherit( href='tel:#' ) 1-800-123-1234

				.col-6.col-md-3
					h5.footer-title Socials
					ul.list.list-sm
						li.list-item: a.link.link-inherit( href='#' ) Facebook
						li.list-item: a.link.link-inherit( href='#' ) Pinterest
						li.list-item: a.link.link-inherit( href='#' ) LinkedIn
						li.list-item: a.link.link-inherit( href='#' ) Instagram
						li.list-item: a.link.link-inherit( href='#' ) Twitter
						li.list-item: a.link.link-inherit( href='#' ) YouTube

				.col-6.col-md-3
					h5.footer-title About Us
					ul.list.list-sm
						li.list-item: a.link.link-inherit( href='#' ) Our Mission
						li.list-item: a.link.link-inherit( href='#' ) Graduate Admission
						li.list-item: a.link.link-inherit( href='#' ) Our Vision
						li.list-item: a.link.link-inherit( href='#' ) Our Values
						li.list-item: a.link.link-inherit( href='#' ) About Us
						li.list-item: a.link.link-inherit( href='academics.html' ) Academics
						li.list-item: a.link.link-inherit( href='#' ) Degree Programs

				.col-6.col-md-3
					h5.footer-title Teachers
					ul.list.list-sm
						li.list-item: a.link.link-inherit( href='team-member.html' ) Olivia Thomas
						li.list-item: a.link.link-inherit( href='team-member.html' ) Alice Bohm
						li.list-item: a.link.link-inherit( href='team-member.html' ) Max Turner
						li.list-item: a.link.link-inherit( href='team-member.html' ) Jane Smith
						li.list-item: a.link.link-inherit( href='team-member.html' ) John Stevens
						li.list-item: a.link.link-inherit( href='team-member.html' ) Martha Stevens
						li.list-item: a.link.link-inherit( href='team-member.html' ) Connor Walker

	.footer-bottom.bg-700.context-dark.text-center
		.container
			+rights
