// About us
section.section-md.bg-transparent.text-center.text-md-left
	.container
		.row
			.col-md-6.bg-primary.context-dark.spacing-box
				h2
					| Performing
					br
					| & Fine Arts
				p.big Cum urna rhoncus, eget tellus. Odio gravida metus fringilla scelerisque magna scelerisque convallis gravida. Eu enim dictumst nunc cras nisi, mattis. Morbi amet nunc semper egestas tellus tortor amet. Eget nunc sed.
				a.btn.btn-outline( href='#' ) Learn more
			.col-md-6.bg-image( style='background-image:url(images/image-13-586x545.jpg);' )

			.col-md-6.bg-image( style='background-image:url(images/image-14-586x545.jpg);' )
			.col-md-6.bg-secondary.context-dark.spacing-box
				h2
					| Athletics
				p.big Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit.
				a.btn.btn-outline( href='#' ) Learn more
