include ../post/_post

// Blog
section.section-md.bg-transparent
	.container
		.text-block.text-block-1.text-center
			h5.text-primary Latest news
			h2 Popular Articles
			p.big Consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.

		include ../section/_blog-3-col-content