include ../post/_post

// Blog
section.section-md.bg-transparent
	.container
		.text-block.text-block-1.text-center
			h5.text-primary More posts
			h2 Popular Articles
			p.big Massa, et porttitor cras sed ultrices ullamcorper mauris semper iaculis. Ornare suscipit purus nulla pharetra velit, leo in. Amet nulla nunc vitae viverra pellentesque in eget. Mi ut sit ultrices sed.

		include ../section/_blog-3-col-content