// Call to action
section.section-md.bg-primary.context-dark.text-center
	.container
		.group-16.d-lg-flex.flex-wrap.justify-content-between.align-items-center
			h3 Prepare Your Application Letter for Admission
			a.btn.btn-primary( href='#' ) Apply