// Call to action
section.section-md.bg-300.text-center
	.container
		.row.justify-content-center
			.col-md-10.col-xxl-9
				h5.text-primary Resources
				h2 Our admission
				p.big Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.
				a.btn.btn-primary( href='#' ) Learn more