// Call to action
section.section-md.bg-image.text-center( style='background-image:url(images/bg-pattern-1.jpg);' )
	.container
		.row.justify-content-center
			.col-md-10.col-xxl-9
				h5.text-primary How to Apply to Teachzy
				h2 Your Way to Higher Education
				p.big Feugiat aliquam quis ultrices tristique nulla est at suspendisse. Pretium nulla lectus lobortis enim nibh purus. Maecenas senectus fusce mus sapien nulla. Diam pulvinar augue nisl, quam sit venenatis vitae. Augue rutrum venenatis, vitae lectus at. Posuere quisque molestie condimentum tristique.
				a.btn.btn-primary( href='#' ) Learn more