include ../thumbnail/_thumbnail

// Gallery
section.section-md.bg-transparent.text-center
	.container
		h5.text-primary Our university’s best moments
		h2 Our gallery

		.row.no-gutters.justify-content-center( data-lightgallery )
			.col-6.col-xs-5.col-md-4
				+thumbnail-gallery({
					img: 'image-20-390x390',
					imgOriginal: 'image-20-1200x800'
				})
			.col-6.col-xs-5.col-md-4
				+thumbnail-gallery({
					img: 'image-23-390x390',
					imgOriginal: 'image-23-1200x800'
				})
			.col-6.col-xs-5.col-md-4
				+thumbnail-gallery({
					img: 'image-24-390x390',
					imgOriginal: 'image-24-1200x800'
				})

			.col-6.col-xs-5.col-md-4
				+thumbnail-gallery({
					img: 'image-02-390x390',
					imgOriginal: 'image-02-1200x800'
				})
			.col-6.col-xs-5.col-md-4
				+thumbnail-gallery({
					img: 'image-09-390x390',
					imgOriginal: 'image-09-1200x800'
				})
			.col-6.col-xs-5.col-md-4
				+thumbnail-gallery({
					img: 'image-22-390x390',
					imgOriginal: 'image-22-1200x800'
				})

			.col-6.col-xs-5.col-md-4
				+thumbnail-gallery({
					img: 'image-25-390x390',
					imgOriginal: 'image-25-1200x800'
				})
			.col-6.col-xs-5.col-md-4
				+thumbnail-gallery({
					img: 'image-11-390x390',
					imgOriginal: 'image-11-1200x800'
				})
			.col-6.col-xs-5.col-md-4
				+thumbnail-gallery({
					img: 'image-19-390x390',
					imgOriginal: 'image-19-1200x800'
				})
