include ../person/_person

// Person
section.section-md.bg-transparent.text-center
	.container
		.text-block.text-block-1
			h5.text-primary People behind our success
			h2 Our tutors
			p.big Massa, et porttitor cras sed ultrices ullamcorper mauris semper iaculis. Ornare suscipit purus nulla pharetra velit, leo in. Amet nulla nunc vitae viverra pellentesque in eget. Mi ut sit ultrices sed.

		include ../section/_person-4-col-content