.owl-carousel.owl-content-1( data-owl= { dots: true }, data-autoplay='false', data-loop='false', data-items='1', data-sm-items='2', data-md-items='3', data-lg-items='4' )
	+person-boxed({
		img: 'person-01-270x280',
		title: 'Leslie Alexander',
		text: 'Teacher',
		social:    [ 'custom-font-facebook', 'custom-font-twitter', 'custom-font-linkedin' ]
	})
	+person-boxed({
		img: 'person-02-270x280',
		title: 'Cameron Williamson',
		text: 'Teacher',
		social:    [ 'custom-font-facebook', 'custom-font-twitter', 'custom-font-linkedin' ]
	})
	+person-boxed({
		img: 'person-05-270x280',
		title: 'Brooklyn Simmons',
		text: 'Teacher',
		social:    [ 'custom-font-facebook', 'custom-font-twitter', 'custom-font-linkedin' ]
	})
	+person-boxed({
		img: 'person-04-270x280',
		title: 'Jacob Jones',
		text: 'Teacher',
		social:    [ 'custom-font-facebook', 'custom-font-twitter', 'custom-font-linkedin' ]
	})