/**
 * Quote
 */

@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";

// Mixins
// Quote author side
@mixin quote-author-side {
	.quote-author {
		display: flex;
		align-items: center;

		.quote-author-img {
			flex-shrink: 0;
			max-width: 40%;
		}

		.quote-author-body {
			padding-top: 0;
			padding-left: px-to-rem( 15px );
		}
	}
}


// Base
.quote {
	position: relative;

	q, cite {
		display: block;
	}
}

.quote-cite {
	opacity: .8;
}

.quote-icon {
	font-size: $font-size-base * 2;
	color: $primary;
}

.quote-simple {
	max-width: 680px;
	margin-left: auto;
	margin-right: auto;
}

* + .quote-cite { margin-top: px-to-rem( 25px * $xs-multiplier ) }
* + .quote-meta { margin-top: px-to-rem( 11px * $xs-multiplier ) }


// Media
@include media-breakpoint-up( lg ) {
	* + .quote-cite { margin-top: px-to-rem( 25px * $lg-multiplier ) }
	* + .quote-meta { margin-top: px-to-rem( 11px * $lg-multiplier ) }
}

@include media-breakpoint-up( xxl ) {
	* + .quote-cite { margin-top: px-to-rem( 25px ) }
	* + .quote-meta { margin-top: px-to-rem( 11px ) }
}

