.widget
	.widget-title.h5 Categories
	.widget-body
		ul.widget-list
			li.widget-list-item: a.link.link-inherit( href='#' ) All categories
			li.widget-list-item: a.link.link-inherit( href='#' ) News
			li.widget-list-item: a.link.link-inherit( href='#' ) Tips
			li.widget-list-item: a.link.link-inherit( href='#' ) Education
			li.widget-list-item: a.link.link-inherit( href='#' ) Other
